/*
* Ideaclip - Free Responsive HTML 5 Template V1.0
* Copyright 2014, Ideaclip
* www.ideaclip.fr
* Free to use.
* 10/10/2014
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */	
/* MARGIN */
	.marginprinc-top {
		margin: 40px 0 0 0; 
	}
	
	.marginprinc-bot {
		margin: 0 0 40px 0; 
	}
	
	.marginprinc {
		margin: 40px; 
	}
	
	.margintr-top {
		margin: 30px 0 0 0; 
	}
	
	.margintr-bot {
		margin: 0 0 30px 0; 
	}
	
	.margintr {
		margin: 30px; 
	}
	
	.margindemi-top {
		margin: 20px 0 0 0; 
	}
	
	.margindemi-bot {
		margin: 0 0 20px 0; 
	}
	
	.margindemi {
		margin: 20px; 
	}
	
	.marginone-top {
		margin: 10px 0 0 0; 
	}
	
	.marginone-bot {
		margin: 0 0 10px 0; 
	}
	
	.marginone {
		margin: 10px; 
	}
/* PADDING */	
	.paddingprinc-top {
		padding: 40px 0 0 0; 
	}
	
	.paddingprinc-bot {
		padding: 0 0 40px 0; 
	}
	
	.paddingprinc {
		padding: 40px; 
	}
	
	.paddingtr-top {
		padding: 30px 0 0 0; 
	}
	
	.paddingtr-bot {
		padding: 0 0 30px 0; 
	}
	
	.paddingtr {
		padding: 30px; 
		border-left: 1px solid #3c3e47;
		border-right: 1px solid #3c3e47;
		border-bottom: 1px solid #3c3e47;
	}
	
	.paddingdemi-top {
		padding: 20px 0 0 0; 
	}
	
	.paddingdemi-bot {
		padding: 0 0 20px 0; 
	}
	
	.paddingdemi {
		padding: 20px; 
	}
	
	.paddingone-top {
		padding: 10px 0 0 0; 
	}
	
	.paddingone-bot {
		padding: 0 0 10px 0; 
	}
	
	.paddingone {
		padding: 10px; 
	}
/* COLOR */	
	.coloraction {
		color: #00c8d2;
	}
	
	.colorwhite {
		/* color: #9798a0; */
		color: #fff;
	}
	
	.colorgrey {
		/* color: #9798a0; */
		/* color: #fff; */
	}
/* BORDER */
	.borderprinc {
		border: 1px solid #3c3e47;
	}
/* ELEMENTS */		
	.thumb {
		background: #15111c;
	}
	
	.thumb a, .thumb a:visited {
		text-decoration: none;
		color: #9798a0;
		outline: 0;
		cursor: crosshair;
	}
	
	.thumb img {
		border-bottom: 2px solid #00c8d2;
	}
	
	.blueh {
		background: url(../images/blueh.gif) no-repeat bottom left;
	}
	
	.bluehcenter {
		background: url(../images/blueh.gif) no-repeat bottom center;
	}
	
	hr.bothr { 
		margin: 0 0 40px 0;
	}
	
	div.bothr { 
		width: 100px;
		height: 0; 
		margin: 0 auto 40px auto;
		border: solid #3c3e47;
		border-width: 1px 0 0;
		clear: both;
	}
	
	#headerscroll {
		width: 100%;
		overflow: hidden;
	}
	
	.headerscroll {
		display: none;
		position: fixed;
		top: 0;
		z-index: 9999;
		border-bottom: 1px solid #3c3e47;
	}
	
	header {
		min-height: 40px;
		padding: 20px 40px;
		overflow: hidden;
		background-color: #15111c;
	}
	
	.headerscroll header {
		background-color: rgba(21,17,28,0.9) !important;
		padding: 10px 40px !important;
	}
	
	.logo {
		display: block;
		margin: 0;
		padding: 0;
		float: left;
		height: 35px;
		line-height: 35px;
	}
	
	.logo img {
		vertical-align: middle;
	}
/* NAV */	
	nav {
		margin: 0;
		padding: 0;
		float: right;
	}
	
	nav ul {
		margin: 0;
		padding: 0;
	}
	
	nav ul li {
		margin: 0;
		padding: 0;
		float: left;
	}
	
	nav.princ ul li a, nav.princ ul li a:visited {
		display: block;
		height: 35px;
		line-height: 35px;
		padding: 0 15px;
		color: #9798a0;
		
		/* CSS3 TRANSITION */
		-webkit-transition: 0.5s;
		-moz-transition: 0.5s;
		-o-transition: all 0.5s;
		transition: 0.5s;
	}
	
	nav.princ ul li a.coloraction {
		color: #00c8d2;
	}
	
	nav.princ ul li a:hover, nav.princ ul li a:focus {
		color: #fff;
	}
	
	nav.princ ul li a.ongletactif {
		color: #fff;
	}
	
	a.cta {
		display: block;
		height: 35px;
		line-height: 35px;
		padding: 0 15px;
		text-align: center;

		/* CSS3 TRANSITION */
		-webkit-transition: 0.5s;
		-moz-transition: 0.5s;
		-o-transition: all 0.5s;
		transition: 0.5s;
	}

	a.cta:hover {
		-webkit-border-radius: 20px;
		-moz-border-radius: 20px;
		border-radius: 20px;

	}

	a.primary {
		color: #00c8d2;
		border: 1px solid #00c8d2;
	}

	a.secondary {
		color: #9798a0;
		border: 1px solid #9798a0;
	}

	a.primary:hover, a.secondary:hover {
		color: #fff;
		border: 1px solid #fff;
	}
/* NAV PROJETS */
	.navp {
		padding-top: 14px;
	}
	
	.navp ul li a, .navp ul li a:visited {
		display: block;
		height: 12px;
		line-height: 12px;
		padding: 0 10px;
		color: #9798a0;
		border-right: 1px solid #9798a0;
	}
	
	.navp ul li a:hover, .navp ul li a:focus {
		color: #00c8d2;
	}
	
	.navp ul li a.lastnavp {
		padding: 0 0 0 10px;
		border-right: none;
	}
	
	.navp ul li a.navpactif {
		color: #333;
	}
	
	#wrapper {
		background: #15111c;
		border-top: 1px solid #3c3e47;
		border-bottom: 1px solid #3c3e47;
		overflow: hidden;
	}
	
	.minarrow {
		display: block;
		height: 20px;
		line-height: 20px;
		padding: 0 18px 0 0;
		background: url(../images/minarrow.gif) no-repeat center right;
	}
	
	.arrowtitle {
		margin: 11px 0 10px 0;
	}
	
/* FOOTER */	
	footer {
		overflow: hidden;
	}
	
	#topfoot {
		min-height: 40px;
		padding: 20px 40px;
		line-height: 1;
		background: url(../images/stripefooter.png) no-repeat top center #15111c;
		border-bottom: 1px solid #3c3e47;
	}
	
	#topfoot a:first-child {
		margin: 0 10px 0 0;
	}
	
	#topfoot a:last-child {
		margin: 0 0 0 10px;
	}
	
	.lastfoot {
		margin: 0 0 0 10px;
	}
	
	footer ul li {
		background: url(../images/sep.gif) no-repeat bottom left;
		margin: 0;
	}
	
	footer ul li:last-child {
		background: none;
	}
	
	footer ul li.lastfav {
		background: none;
	}
	
	footer ul li a, footer ul li a:visited {
		color: #9798a0;
		display: block;
		height: 28px;
		line-height: 28px;
	}
	
	footer ul li a:hover, footer ul li a:focus {
		color: #00c8d2;
	}
	
	.scrollup {
		position:fixed;
		width:25px;
		height:15px;
		opacity:1;
		display:none;
		bottom:69px;
		right:50px;
		text-indent:-9999px;
		background: url(../images/scroll.png) no-repeat top center;
		z-index: 9999;
	}
	
	.scrollup:hover {
		background: url(../images/scroll.png) no-repeat bottom center;
	}
	
	#mentions {
		border-top: 1px solid #3c3e47;
	}
	
/* #Page Styles
================================================== */
	#top {
		position: relative;
		width: 100%; 
		height: 440px;
		overflow: hidden;
		z-index: 1;
	}
	
	#top #main-title {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
	/*	top: 50%;
		left: 50%;
		-webkit-transform: translate3d(-50%,-50%,0);
		transform: translate3d(-50%,-50%,0);	*/
	}
	
	#icones-services img {
		margin: 0 0 0 40px;
	}
	
	#icones-services img:first-child {
		margin: 0;
	}
	
	.stripe {
		height: 100%;
		background: url(../images/stripe.png) no-repeat top center #15111c;
	}
	
	#top-preview {
		height: 360px;
		margin: 0 0 30px;
		overflow: hidden;
		
		background: #15111c;
		border-bottom: 1px solid #3c3e47;
	}
	
	#top-preview .container {
		position: relative;
	}
/* SERVICES */
	.services {
		min-height: 360px;
	}
/* FORM CONTACT */	
	.sendcontact {
		width: 141px;
		height: 162px;
		background: url(../images/post-sprite.png) no-repeat top center #15111c;
		
		/* CSS3 TRANSITION */
		-webkit-transition: .25s;
		-moz-transition: .25s;
		-o-transition: all .25s;
		transition: .25s;
	}
	
	.sendcontact:hover {
		background: url(../images/post-sprite.png) no-repeat bottom center #15111c;
	}
	
	.error {
	
	}
/* MAP CONTACT */	
	#map {
		height: 360px;
		margin: -30px 0 30px;
		background: #15111c;
		border-bottom: 1px solid #3c3e47;
	}
	
	.gmnoprint .gm-style-cc div, .gm-style .gmnoprint.gm-style-cc div, .gm-style .gm-style-cc div {
		background: none !important;
	}
	
	.gmnoprint .gm-style-cc div span, .gm-style .gmnoprint.gm-style-cc div a, .gm-style .gm-style-cc div a {
		color: #3c3e47 !important;
	}
	
	.gm-style div a div img {
		display: none;
	}

/* #Media Queries
================================================== */

	@media only screen and (max-width: 1199px) {
		.services {
			min-height: 380px;
		}
	}
	
	/* Scroll to top */
	@media only screen and (max-width: 1132px) {
		.hidden-scroll {
			display: none !important;
		}
	}
	
	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {
		.services {
			min-height: 430px;
		}
	}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {
		footer br {
			display: none;
		}
	}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {
		header {
			padding: 40px;
		}
		
		.logo {
			float: none;
			text-align: center;
		}
		
		nav.princ {
			margin-top: 25px;
			float: none;
		}
	
		nav.princ ul li {
			display: block;
			float: none;
		}
		
		nav.princ ul li a, nav.princ ul li a:visited {
			text-align: center;
			height: 40px;
			line-height: 40px;
			border-bottom: 1px solid #3c3e47;
		}
		
		nav.princ ul li a:hover, nav.princ ul li a:focus {
			color: #fff;
			border-bottom: 1px solid #fff;
		}
	
		nav.princ ul li a.ongletactif {
			color: #fff;
			border-bottom: 1px solid #fff;
		}
		
		nav.princ ul li a.coloraction {
			color: #00c8d2;
			border: 1px solid #00c8d2;
		}
		
		nav.princ ul li a.coloraction:hover {
			color: #fff;
			border-color: #fff;
		}
		
		a.cta:hover {
			-webkit-border-radius: 0;
			-moz-border-radius: 0;
			border-radius: 0;

		}

		a.primary {
			color: #00c8d2;
			border: 1px solid #00c8d2;
		}

		a.secondary {
			color: #9798a0;
			border: 1px solid #9798a0;
		}

		a.primary:hover, a.secondary:hover {
			color: #fff;
			border: 1px solid #fff;

		}
		
		.services {
			min-height: 0;
		}

	}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {
		footer br {
			display: none;
		}
	}

/* #Font-Face
================================================== */

	.geo {
		font-family: "Georgia", "Times New Roman", serif;
		font-size: 18px;
		font-style: italic;
		font-weight: normal;
		letter-spacing: 1px;
		line-height: 1.7em;
	}
	
	.hay {
		font-family: "arial", verdana, sans-serif;
		font-size: 22px;
		font-style: normal;
		font-weight: normal;
		letter-spacing: 1px;
		line-height: 1.7em;
		text-transform: uppercase;
	}
	
	.bigger {
		font-size: 50px;
	}